@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap") * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.img-area {
  height: 100vh;
  width: 100vw;
  background-image: url("images/britu-img.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  z-index: -1;
}

.navbar {
  font-size: 18pt;
  padding-bottom: 10px;
}

.main-nav {
  list-style-type: none;
  display: none;
}

.main-nav a {
  color: #ccced1;
}

.nav-links,
.logo {
  text-decoration: none;
  color: rgb(115, 71, 193);
}

.main-nav li {
  text-align: center;
  margin: 15px auto;
}

.logo {
  display: inline-block;
  font-size: 25pt;
  margin-top: 10px;
  margin-left: 20px;
  font-weight: 900;
  text-transform: uppercase;
}

.navbar-toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  color: rgb(115, 71, 193);
  font-size: 20pt;
}

.active {
  display: block;
}

@media screen and (min-width: 768px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 70px;
    align-items: center;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
  }

  .main-nav {
    display: flex;
    margin-right: 30px;
    flex-direction: row;
    justify-content: flex-end;
  }

  .main-nav li {
    margin: 0;
  }

  .nav-links {
    margin-left: 40px;
  }

  .logo {
    margin-top: 0;
  }

  .navbar-toggle {
    display: none;
  }

  .logo:hover,
  .nav-links:hover {
    color: rgb(115, 71, 193);
  }
}

/* Desktop britu-area */

.britu-area {
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 20px;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

.britu-area .britu-intro h1 {
  font-size: 47pt;
  color: #444766;
}

.britu-area .britu-intro h1 span {
  color: #ccced1;
}

.britu-area .britu-intro p {
  color: #c5a1ce;
  font-size: 14pt;
}

.britu-input {
  display: flex;
  padding-left: 1%;
  padding-top: 4%;
}

.britu-input input {
  border-radius: 20px;
  background: #f4f5f7;
  width: 400px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 110px;
  border: #ccced1;
  color: rgb(115, 71, 193);
  font-size: 1.1rem;
  outline-color: rgb(115, 71, 193);
  box-shadow: 0 10px 10px 3px #e1e2e4;
}

button {
  padding: 5px 15px;
  width: 90px;
  border-radius: 20px;
  background: #ba63ff;
  color: #d8c6dd;
  position: relative;
  left: -90px;
  top: 0px;
  outline: none;
  border: none;
  cursor: pointer;
}

.britu-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding-top: 12%; */
  padding-bottom: 10px;
}

footer a {
  text-decoration: none;
  color: #e3787d;
}

footer {
  color: #444766;
  font-size: 15pt;
}

/* Mobile britu-page */

@media (max-width: 800px) {
  body {
  }

  .britu-area {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .logo {
    font-size: 18pt;
  }

  .britu-area .britu-intro h1 {
    font-size: 25pt;
    /* margin-top: 55%; */
  }

  .britu-area .britu-intro p {
    font-size: 12pt;
  }

  .britu-input {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .britu-input input {
    width: 380px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 90px;
    margin-top: 30px;
    margin-left: 55px;
    font-size: 10pt;
  }

  button {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 25px;
    width: 90px;
    position: relative;
    left: -74px;
    top: 16px;
    font-size: 8pt;
  }

  footer {
    font-size: 12pt;
    margin-top: 60px;
  }
}

@media screen and (max-width: 768px) {
  .img-area {
    position: static;
    height: 250px;
  }

  .britu-area {
    max-height: 300px;
    text-align: center;
  }

  .britu-input {
    max-width: 100%;
  }
}
