* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

body {
  height: 100vh;
  background-image: url("images/britu-img.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
}

.navbar {
  font-size: 18pt;
  padding-bottom: 10px;
}

.main-nav {
  list-style-type: none;
  display: none;
}

.main-nav a {
  color: #ccced1;
}

.nav-links,
.logo {
  text-decoration: none;
  color: rgb(115, 71, 193);
}

.main-nav li {
  text-align: center;
  margin: 15px auto;
}

.logo {
  display: inline-block;
  font-size: 25pt;
  margin-top: 10px;
  margin-left: 20px;
  font-weight: 900;
  text-transform: uppercase;
}

.navbar-toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  color: rgb(115, 71, 193);
  font-size: 20pt;
}

.active {
  display: block;
}

@media screen and (min-width: 768px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 70px;
    align-items: center;
  }

  .main-nav {
    display: flex;
    margin-right: 30px;
    flex-direction: row;
    justify-content: flex-end;
  }

  .main-nav li {
    margin: 0;
  }

  .nav-links {
    margin-left: 40px;
  }

  .logo {
    margin-top: 0;
  }

  .navbar-toggle {
    display: none;
  }

  .logo:hover,
  .nav-links:hover {
    color: rgb(115, 71, 193);
  }

  /* section.britu-area {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  section.britu-area .britu-intro h1 {
    font-size: 20pt;
    margin-top: 20%;
  } */
}

/* Desktop britu-area */

section.britu-area {
  display: flex;
  padding-left: 1%;
  padding-top: 10%;
}

section.britu-area .britu-intro h1 {
  font-size: 47pt;
  color: #444766;
}

section.britu-area .britu-intro h1 span {
  color: #ccced1;
}

section.britu-area .britu-intro p {
  color: #ccced1;
  font-size: 14pt;
  margin-top: 7px;
}

section.britu-input {
  display: flex;
  padding-left: 1%;
  padding-top: 4%;
}

section.britu-input input {
  border-radius: 20px;
  background: #f4f5f7;
  width: 400px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 110px;
  border: #ccced1;
  color: rgb(115, 71, 193);
  font-size: 1.1rem;
  outline-color: rgb(115, 71, 193);
  box-shadow: 0 10px 10px 3px #e1e2e4;
}

button {
  padding: 5px 15px;
  width: 90px;
  border-radius: 20px;
  background: #ba63ff;
  color: #ccced1;
  position: relative;
  left: -90px;
  top: 0px;
  outline: none;
  border: none;
  cursor: pointer;
}

section.britu-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 12%;
  padding-bottom: 10px;
}

footer a {
  text-decoration: none;
  color: #e3787d;
}

footer {
  color: #ccced1;
  font-size: 13pt;
}

/* Mobile britu-page */

@media (max-width: 800px) {
  .logo {
    font-size: 18pt;
  }

  section.britu-area {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  section.britu-area .britu-intro h1 {
    font-size: 20pt;
    margin-top: 55%;
  }

  section.britu-area .britu-intro p {
    font-size: 12pt;
  }

  section.britu-input {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  section.britu-input input {
    width: 380px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 90px;
    margin-top: 60px;
    margin-left: 55px;
    font-size: 10pt;
  }

  button {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 25px;
    width: 90px;
    position: relative;
    left: -76px;
    top: 19.7px;
    font-size: 8pt;
  }

  footer {
    font-size: 12pt;
    margin-top: 60px;
  }
}
